<% provide(:title, 'Home') %>
<div class="home-top">
  <ul class="no-bullet small-block-grid-1 medium-block-grid-2 large-block-grid-3" data-equalizer>
    <% @episodes.each do |episode| %>
      <% if current_user %>
        <% @vote = voted_on_episode?(current_user, episode) %>
      <% end %>
      <li class="episode-container">
        <div class="episode">
          <%= render template: "votes/show", locals: {episode: episode} %>
          <%= render template: "episodes/episode", locals: {episode: episode}%>
    <% end %>
    </li>
</div>
<% if current_user && current_user.admin? %>
  <%= link_to "Create", new_episode_path, class: "button" %>
<% end %>
<%= paginate @episodes %>
