<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= "#{@user.username}, #{@episode.title} is out!" %></h1>
    <p>
      <%= @episode.title %> is out dude. Come check it out here:
    </p>
    <p>
      <%= link_to "#{@episode.title}", episode_path(@episode) %>
    </p>
    <p>See what Matt and Trey did this week!</p>
  </body>
</html>
