.home-top{
  padding-top: 1em;
}

.center{
  text-align: center;
  font-size: 12px;
}

.form-wrapper{
  width: 30%;
  align: center;
  margin-left: 35%;
}

.space{
  margin-left: 0.2em;
  margin-right: 0.5em;
}

.episode-info-wrapper{
  align: center;
  text-align: center;
}

.episode-review-wrapper{
  word-break: break-all;
}

.episode {
  @extend .clearfix;

  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 0.5em;
  margin-left: 0.5em;
  position: relative;
}

.episode-container {
  padding: 0.5em;
}

.episode-votes {
  position: absolute;
  left: 8px;
  top: 2px;
}

.episode-body {
  padding-left: 20px;
  padding-bottom: 0.35em;
  word-break: break-all;
}

.episode-url {
  a:link {
    color: #FFF;
  }

  a:visited {
    color: #FFF;
  }

  a:hover {
    color: #FFF;
  }

  a:active {
    color: #FFF;
  }
}

.vote-container {
  a:link {
    color: #008000;
  }

  a:visited {
    color: #008000;
  }

  a:hover {
    color: #008000;
  }

  a:active {
    color: #008000;
  }

}

.vote-down {
  a:link {
    color: #B31B1B;
  }

  a:visited {
    color: #B31B1B;
  }

  a:hover {
    color: #B31B1B;
  }

  a:active {
    color: #B31B1B;
  }
}

.vote-button {
  display: block;
}

.vote-count {
  margin-left: 3px;
  font-size: 12px;
}

.char-img{
  margin-top: 3px;
}

.notice, .alert-box{
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.notice{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.alert-box{
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.user{
  @extend .clearfix;

  padding: 0.5em;
  /* margin-left: 0.5em; */
  position: relative;
}

.user-avatar{
  position: absolute;
  left: 8px;
  top: 20px;
}

.user-container{
  /* display: block; */
  /* float: left; */
  /* padding: 1em; */
  /* position: absolute; */
}

.user-profile{
  float: left;
  padding-top: 0.5em;
  display: inline;
  padding-left: 50px;
  width: 20%;
  word-break: break-all
}

.user-follow-block{
  @include block-grid(
    $per-row: 5
    //$spacing: 0
  );
}

.something {
  padding-left: 15px;
}

.user-lackey{
  border: 1px solid #d3d3d3;
  background-color: #EFF8FB;
  text-size: 4px;
  padding: 0;
  word-break: break-all
/* padding: 0.5em; */
/* margin: 0.5em; */
}

.user-follower-list{
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  float: left;
  display: inline;
  width: 39%;
  margin-top: 0.75em;
  margin-left: 0.1em;
  margin-right: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

.user-following-list{
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  float: left;
  display: inline;
  width: 39%;
  margin-top: 0.75em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

.user-container p{
  line-height: 0;
}

.thumb-up{
  color: #008000;
}

.thumb-down{
  color: #B31B1B;
}

.user-vote-container{
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 0.5em;
  padding-left: 30px;
  position: relative;
}

.user-vote-thumb{
  position: absolute;
  left: 8px;
  top: 8px;
}

.user-review-container{
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 0.5em;
  position: relative;
  word-break: break-all;
  overflow: auto;
  height: auto !important;
}

.user-review-thumb{
  /* position: absolute; */
  left: 8px;
  top: 8px;
}

.user-review-title{
  padding-left: 0.5em
}

.episode-user-review{
  float: right;
  padding-left: 2.5em;
}

.review-user-profile{
  padding: 0.5em;
  float: right;
  position: relative;
}

.review-created-time{
  font-size: 10px;
  float: right;
}

.review-icon{
  padding-top: 0.5em;
  position: absolute;
  float: right;
}
